In [4]:
import pandas as pd
a=pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

In [20]:
print("slice rows:\n",result[1:3])

slice rows:
        Emp  ID  Age
1  Ronaldo  20   39
2   Mighty  30   18

In [18]:
emp=pd.Series(['Kohli','Ronaldo','Mighty','Pandya'])
id=pd.Series([10,20,30,40])
age=pd.Series([36,39,18,29])
frame={'Emp':emp,'ID':id,'Age':age}
result=pd.DataFrame(frame)
print("\n extracting the second row\n")
print(result.loc[1])

 extracting the second row

Emp    Ronaldo
ID          20
Age         39
Name: 1, dtype: object

In [14]:
emp=pd.Series(['Kohli','Ronaldo','Mighty','Pandya'])
id=pd.Series([10,20,30,40])
age=pd.Series([36,39,18,29])
frame={'Emp':emp,'ID':id,'Age':age}
result=pd.DataFrame(frame)
print("\n series to dataframe\n")
del result['Age']
print(result)

 series to dataframe

       Emp  ID
0    Kohli  10
1  Ronaldo  20
2   Mighty  30
3   Pandya  40

 adding new row values
        Emp    ID   Age   EMP    iD
0    Kohli  10.0  36.0   NaN   NaN
1  Ronaldo  20.0  39.0   NaN   NaN
2   Mighty  30.0  18.0   NaN   NaN
3   Pandya  40.0  29.0   NaN   NaN
0      NaN   NaN   NaN   anu  20.0
1      NaN   NaN   NaN  vinu  18.0

In [27]:
emp=pd.Series(['Kohli','Ronaldo','Mighty','Pandya'])
id=pd.Series([10,20,30,40])
age=pd.Series([36,39,18,29])
frame={'Emp':emp,'ID':id,'Age':age}
result=pd.DataFrame(frame)
print("\n series to dataframe\n")
del result['Age']
print(result)

 series to dataframe

       Emp  ID
0    Kohli  10
1  Ronaldo  20
2   Mighty  30
3   Pandya  40